<!doctype html>
<html>
<head>
  <meta name="layout" content="main"/>
  <title>Welcome to Grails</title>

  <asset:link rel="icon" href="favicon.ico" type="image/x-ico"/>
</head>

<body>
<h1>Simple products CRUD operations program</h1>

</body>
</html>
